body {
    background: #EFEEEE;
    
}

.icon{
    text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
  line-height: 59px;
  display: block;
  height: 57px;
  margin: 0;
  padding-left: 10px; 
}